<section class="columns px-5">
     <div class="column">          
          <div class="card">
               <div class="card-content">
                    <div class="media">
                         <div class="media-left">
                              <figure class="image is-48x48">
                                   <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" class="profile-pic">
                              </figure>
                              <strong>!username!</strong> 
                         </div>
                         <div class="media-content">
                              <div class="content">
                                   <p><span class="title">{{title}}</span><br><time class="pt-2">{{data_created}}</time> <br> {{description}} </p>
                              </div>
                         </div>
                    </div>
               </div>
          </div>          
     </div>
</section> 