{{! From Bulma, to be modded and replaced on release }}
{{! TODO: Add GH links, funding links }}


<section class="hero has-background-info is-medium">
<div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column p-0 m-6">
      <h1 class="title is-1 has-text-white">
        Project Tracker
      </h1>
      <h2 class="subtitle  has-text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt expedita minima rem tempora necessitatibus sit consequuntur inventore architecto dolorem porro quas dolor quia nihil ea repellendus, provident facere perferendis culpa!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, fugit assumenda? Explicabo maxime accusantium, nam sed error quos sint obcaecati. Exercitationem iste porro architecto laboriosam dolorum odio dolore ducimus repudiandae.
      </h2>
  </div>

  <div class="column p-0 m-6 is-flex is-justify-content-center is-align-items-center">
    {{!-- <div class="card">
      <div class="card-content">
        <div class="content">
          <h1 class="title">Login</h1>
          <form class="">
            <div class="field">
              <label class="label" for="username">Username</label>
              <div class="control">
                <input class="input" type="text" placeholder="Username" id="username">
              </div>
            </div>
            <div class="field">
              <label class="label" for="password">Password</label>
              <div class="control">
                <input class="input" type="password" placeholder="Password" id="password">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-link">Login</button>
                <a href="">Signup</a>
                or login with
                <a href="https://github.com/login/oauth/authorize?client_id=6bed90201b9cbadbca77">Github</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> --}}
    <button class="button is-link is-large">Sign in with GitHub<svg  class="ml-2" fill="#000000" width="64px" height="64px" viewBox="0 0 32 32" id="icon" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><defs><style>.cls-1{fill-rule:evenodd;}.cls-2{fill:none;}</style></defs><title>logo--github</title><path class="cls-1" d="M16,2a14,14,0,0,0-4.43,27.28c.7.13,1-.3,1-.67s0-1.21,0-2.38c-3.89.84-4.71-1.88-4.71-1.88A3.71,3.71,0,0,0,6.24,22.3c-1.27-.86.1-.85.1-.85A2.94,2.94,0,0,1,8.48,22.9a3,3,0,0,0,4.08,1.16,2.93,2.93,0,0,1,.88-1.87c-3.1-.36-6.37-1.56-6.37-6.92a5.4,5.4,0,0,1,1.44-3.76,5,5,0,0,1,.14-3.7s1.17-.38,3.85,1.43a13.3,13.3,0,0,1,7,0c2.67-1.81,3.84-1.43,3.84-1.43a5,5,0,0,1,.14,3.7,5.4,5.4,0,0,1,1.44,3.76c0,5.38-3.27,6.56-6.39,6.91a3.33,3.33,0,0,1,.95,2.59c0,1.87,0,3.38,0,3.84s.25.81,1,.67A14,14,0,0,0,16,2Z"></path><rect id="_Transparent_Rectangle_" data-name="<Transparent Rectangle>" class="cls-2" width="32" height="32"></rect></g></svg></button>
</div>

  </div>  
  {{!-- end columns --}}

  </section>
<section class="container p-3">
<p class="title has-text-white">
Recent Posts
</p>
</section>


<section class="columns">
<div class="column is-4">
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" class="profile-pic">
        </figure>
        <strong> username </strong>
      </div>

      <div class="media-content">
           <div class="content">
            <p><span class="title">Post title</span><br> <time>11:09 PM - 9 Feb 2023</time> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cupiditate ipsam dignissimos reprehenderit deserunt illo incidunt atque porro? Quos a quidem, adipisci suscipit molestiae ad ut exercitationem dolorum tempora explicabo.  </p>
    </div>
      </div>
    </div>

 
  </div>
</div>
</div>
<div class="column is-4">
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" class="profile-pic">
        </figure>
        <strong> John Smith </strong>
      </div>

      <div class="media-content">
           <div class="content">
            <p><span class="title">Post title</span><br> <time>11:09 PM - 9 Feb 2023</time> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cupiditate ipsam dignissimos reprehenderit deserunt illo incidunt atque porro? Quos a quidem, adipisci suscipit molestiae ad ut exercitationem dolorum tempora explicabo.  </p>
    </div>
      </div>
    </div>

 
  </div>
</div>
</div>
<div class="column is-4">
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left post-left">
        <figure class="image is-48x48">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" class="profile-pic">
        </figure>
        <strong> Ryan Stanton</strong>
      </div>

      <div class="media-content">
           <div class="content">
            <p><span class="title">Post title</span> <br> <time>11:09 PM - 9 Feb 2023</time>  <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cupiditate ipsam dignissimos reprehenderit deserunt illo incidunt atque porro? Quos a quidem, adipisci suscipit molestiae ad ut exercitationem dolorum tempora explicabo. 
            </p>
      
    </div>
      </div>
    </div>

 
  </div>
</div>
</div>

</section>


<section class="columns">
<div class="column is-4">
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" class="profile-pic">
        </figure>
        <strong> username </strong>
      </div>

      <div class="media-content">
           <div class="content">
            <p><span class="title">Post title</span><br> <time>11:09 PM - 9 Feb 2023</time> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cupiditate ipsam dignissimos reprehenderit deserunt illo incidunt atque porro? Quos a quidem, adipisci suscipit molestiae ad ut exercitationem dolorum tempora explicabo.  </p>
    </div>
      </div>
    </div>

 
  </div>
</div>
</div>
<div class="column is-4">
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" class="profile-pic">
        </figure>
        <strong> John Smith </strong>
      </div>

      <div class="media-content">
           <div class="content">
            <p><span class="title">Post title</span><br> <time>11:09 PM - 9 Feb 2023</time> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cupiditate ipsam dignissimos reprehenderit deserunt illo incidunt atque porro? Quos a quidem, adipisci suscipit molestiae ad ut exercitationem dolorum tempora explicabo.  </p>
    </div>
      </div>
    </div>

 
  </div>
</div>
</div>
<div class="column is-4">
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left post-left">
        <figure class="image is-48x48">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" class="profile-pic">
        </figure>
        <strong> Ryan Stanton</strong>
      </div>

      <div class="media-content">
           <div class="content">
            <p><span class="title">Post title</span> <br> <time>11:09 PM - 9 Feb 2023</time>  <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cupiditate ipsam dignissimos reprehenderit deserunt illo incidunt atque porro? Quos a quidem, adipisci suscipit molestiae ad ut exercitationem dolorum tempora explicabo. 
            </p>
      
    </div>
      </div>
    </div>

 
  </div>
</div>
</div>

</section>
<script src=""></script>
