
            

           <section class="hero has-background-info is-medium">
     <div class="hero-body">
            <h1 class="title is-1 has-text-centered">
                {{username.github_id}}
            </h1>
            <h2 class="subtitle has-text-centered">
                Posts
            </h2>
            </div>

        <div>
</section>


{{#each posts as |project|}}
	{{>post}}
	{{/each}}





