h1 {
  font-size: medium;
}


p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar { 
display: flex;
justify-content: center;

}

.navbar-item {
 padding-left: 3vw;
 padding-right: 3vw;
}

.profile-pic {
  border-radius: 50%;
}



.media {
  height: 200px;
overflow: hidden;
}

form{
  margin: 0;
}

.del, .edit {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  
}


.del {
  top: 0;
  right: 0;

}

.edit {
  top: 0;
  left: 0;
}

.del:hover {
  background-color: red;
}

.edit:hover {
  background-color: green;
}

.is-4:hover .del, .is-4:hover .edit {
  display: block;
  height: 50px;
  width: 50px
 
}

#editbox{
  display: none;
}